body {
	background-color: #26343F;
}

.logo, .title {
	color: white;
	font-family: sans-serif;
}

.logo {
	font-size:16px;
	margin-top:12px;
	padding-left:10px;
	margin-bottom:15px;
	display:inline-block;
}

.main, .contents {
	background-repeat: repeat-x;
	background: linear-gradient(to top right, rgba(29, 54, 73, 1), rgba(45, 63, 74, 0.98))
}

.title {
	font-size:48px;
	padding-top:50px;
	padding-left:90px;
	display:inline-block;
}

.contents {
	transform-origin: 0 0;
	transform: scale(1.7, 1.7);
	padding-top:20px;
	padding-left:80px;
}

.item {
	padding:5px;
}
		
.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 3px solid gray;
  	display: inline-block;
   	vertical-align: middle;
}

.text {
	color: white;
	font-family: sans-serif;
  	display: inline-block;
   	vertical-align: middle;
   	padding-left: 4px;
}

.none {
	background: blue;
}

.busy {
	background: linear-gradient(to right, #f15361 0%, yellow 50%, #f15361 100%);
	background-size: 300% 300%;
    animation: Animation 3s infinite;
}

@keyframes Animation { 
    0% {background-position: 0%}
    50% {background-position: 100%}
    100% {background-position: 0%}
}